<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 text-center" id="app">
                <h3>{{mensaje}}</h3>
                <form class="m-2">
                    <div class="form-row">                    
                        <div class="col">
                            <input v-model="nombre" type="text" class="form-control" placeholder="Ingresa tu nombre completo">
                        </div>
                        <div class="col-4">
                            <input v-model="edad" type="number" class="form-control" placeholder="Ingresa tu edad">
                        </div>
                        <button @click="crearPersona" type="button" class="btn btn-primary">Agregar persona</button>                                       
                    </div>
                </form>
                <div v-if = "banderaTabla">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(persona, index) in personas">
                                <th scope="row">{{persona.id}}</th>
                                <td>{{persona.nombre}}</td>
                                <td>{{persona.edad}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning"@click="formularioPersona(index)">Editar</button>
                                    <button type="button" class="btn btn-danger" @click="eliminarPersona(index)">X</button>
                                </td>                           
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-if="bandera">
                    <form class="m-2">
                        <div class="form-row">                    
                            <div class="col">
                                <input v-model="nombreActualizar" type="text" class="form-control">
                            </div>
                            <div class="col-4">
                                <input v-model="edadActualizar" type="number" class="form-control">
                            </div>
                            <button @click="actualizarPersona(index)" type="button" class="btn btn-primary">Actualizar persona</button>                                       
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="index-crud.js"></script>
</body>
</html>